.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 2%; 
    padding-top: 100px;
}

.title-container {
    display: flex;
    align-items: center;
    position: fixed;
    /* z-index: 1000; */
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
}

.page-title h1{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 1px;
    letter-spacing: 2px;
    cursor: pointer;
}

.title-image {
    margin-right: 20px;
    cursor: pointer;
}

.title-image img {
    width: 130px;
    margin-left: 20px;
    margin-top: 20px;
    height: auto;
    cursor: pointer;
}

.sub-container {
    display: flex;
    align-items: left;
    position: fixed;
    /* z-index: 1000; */
    background-color: #fff;
    width: 100%;
    top: 140px;
    left: 0;
}

.sub-title h2 {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    cursor: pointer;
    /* font-style: italic; */
}

.page-nav {
    display: flex;
    margin-left: 850px;
}

.nav-item {
    font-size: 22px;
    margin-right: 40px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    cursor: pointer;
}

.nav-item:hover {
    color: lightblue;
}

.body-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    color: black;
}

.service-container {
    align-items: center;
    background-color: lightblue;
    height: 50vh;
    margin-top: 120px;
}

.icon-container {
    display: flex;
    justify-content: space-between; 
    margin-left: 80px;
    margin-right: 120px;
}

.icon {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color:whitesmoke;
    border-style:outset;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.icon label {
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 22px;
}
.icon img {
    width: 70px;
    height: auto;
}

.seminar-container {
    align-items: center;
    background-color:rgb(220, 237, 243);
    height: 50vh;
    margin-top: 30px;
}

.seminar-list li {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.about-us {
    font-size: 20px;;
    text-align: left;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 300px;
    font-style: italic;
    letter-spacing: 1px;
}

.about-container {
    background-color:rgb(228, 237, 241);
    height: 70vh;
    margin-top: 30px;
    margin-bottom: 20px;
}
